name: aula04_11
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.3.3+1 # Use a versão mais recente
  path: ^1.9.0 # Use a versão mais recente
  intl: ^0.19.0 # Para formatação de data

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
